body {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, Consolas, monospace, sans-serif;
	line-height: 1.6;
    background-color: #111;
    color: #fff;
}

h1 {
	text-align: center;
}

a {
    color: #f3c;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:focus {
    text-decoration: none; 
    background-color: #f3c;
    color: #fff; 
}

table {	
    width: 90%;
    border-collapse: collapse;
    margin: 12px auto;
	font-size: 1em;
}

tr { 
    margin-bottom: 10px; 
}

tr:nth-child(odd) {
        background-color: #222; /* Light gray for odd rows */
}

tr:hover {
    background-color: #444; /*  hover effect for table rows */
}

th, td {
    padding: 10px;
    border: 2px solid #666;
    border-radius: 8px;
	text-align: left; 
}

th {
    background-color: #444;
    text-align: center;
	font-size: 1.1em;
}

.container {
    max-width: 800px; 
    margin: auto;
    padding: 12px;
}

.webring {
	margin: auto;
	width: 50%;
	text-align: center;
	font-size: 1.5em;
}

.instructions {
	margin-left: 10%;
	margin-right: 10%;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%; /* Allows the table to be 100% width on smaller screens */
    }
}
