/* styles.css */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	line-height: 1.6;
    background-color: #111;
}

h1 {
	color: #fff;
	text-align: center;
}

a {
    color: #f3c;
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:focus {
    text-decoration: none; 
    background-color: #f3c;
    color: #fff; 
}

table {
	color: #fff;
	
    width: 90%;
    border-collapse: collapse;
    margin: 12px auto;
	font-size: 1em;
}

tr { 
    margin-bottom: 10px; 
}

tr:nth-child(odd) {
        background-color: #333; /* Light gray for odd rows */
}

tr:hover {
    background-color: #555; /*  hover effect for table rows */
}

th, td {
    padding: 12px;
    border: 2px solid #777;
    border-radius: 8px;
	text-align: left; 
}

th {
    background-color: #444;
	color: #fff;
    text-align: center;
	font-size: 1.1em;
}

.container {
    max-width: 800px; 
    margin: auto;
    padding: 12px;
}

@media screen and (max-width: 600px) {
    table {
        width: 100%; /* Allows the table to be 100% width on smaller screens */
    }
}