<!DOCTYPE html>
<html lang="en">
	<link rel="stylesheet" href="./styles.css">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ ring_name }} List</title>
	</head>
	<body>
		<div class="cards-container">
		<h1>{{ ring_name }} List</h1>
			<p>{{ ring_description }}</p>
			<p>Add all sites with declared RSS feeds to your feed reader with this <a href ="{{ opml }}">OPML</a> link.</p>

			{{ grid_of_sites | safe}}

			<br>
			<footer>
				<p>Last updated: {{ current_time }} </p>
				<p>Powered by <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!</p>
			</footer>
		</div>
  </body>
</html>
