<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="./styles.css">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ ring_name }} List</title>
  </head>
  <body>
    <h1>{{ ring_name }} List</h1>
	<p>{{ ring_description }}</p>
    <p>Add all sites with declared RSS feeds to your feed reader with this <a href ="{{ opml }}">OPML</a> link.</p>
    
  {% if sites %}
  <table>
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">URL</th>
            <th scope="col">About</th>
            <th scope="col">Owner</th>
        </tr>
    </thead>
    <tbody>
    {% for site in sites %}
        <tr>
            <td>{{ site.website.slug }}</td>
            <td>
                <a href="{{ site.website.url }}" target="_blank">{{ site.website.url }}</a>
                {% if site.website.rss %}
                    <a href="{{ site.website.rss }}" target="_blank">[rss]</a>
                {% endif %}
            </td>
            <td>{{ site.website.about | default(value="") }}</td>
            <td>{{ site.website.owner | default(value="") }}</td>
        </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endif %}

  {% if failed_sites %}
  The following member sites were not included in this iteration of the webring:
  <ul>
    {% for site in failed_sites %}
        <li>{{ site.website.url }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  

	<br>
	<footer>
	  <p>Last updated: {{ current_time }} </p>
	  <p>Powered by <a href="https://github.com/k3rs3d/ringfairy">ringfairy</a>!</p>
	</footer>
  </body>
</html>
