<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
	
	<style>
		body {
		  background-color: #000;
		  color: #fff;
		}
	</style>
</head>

<script>
	var links = []
	{% if sites %}
		{% for site in sites %}
			links.push("{{ site.website.url }}")
		{% endfor %}
	{% endif %}
	window.location.replace(links[Math.floor(Math.random() * links.length)])
</script>

<body>
    <p>A fairy is guiding you to a most suitable destination...</p>
</body>

</html>
